html{
    height: 100%;
    overflow: hidden;
    scroll-behavior:smooth;
   
}


body{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Raleway',sans-serif;

}


header{
    transform-style: inherit;
    background-color: #ffff;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header{
    text-decoration: none;
    font-size: 22px;
    font-family: serif;
    margin-left: 300px;
    text-align: center;
    color: #00305b;
    top:10px;
    right:500px;
}

 header ul{
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 800px;
    text-align:center;
    list-style-type: none;
    margin-left: 50px;
    
}

header li{
    display: inline-block;

}
header ul a{
    padding: 1px;
    text-decoration: none;
    color: rgb(90, 87, 87);
    font-size: small;
    display: inline-block;

}

header ul a:hover{
    transition: all;
    color: rgb(107, 215, 229);
 }
.ГЛАВНАЯ{
    position: relative;
    background-origin: border-box;
    background-image: url(./assets/img1.png);
    height: 700px;
    margin-top: 1.5%;
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
 }
 
.trnsprntblue{
  position: absolute;
 left: 0;
 right: 0;
 top: 30px;
 bottom: 0;
 background-color: #00305b;
 height: 800px;
 width: 675px;
 margin-top: -30px;
 opacity: 0.65;
 }
.trnsprntblue h1{
     position: relative;
     top: 5%;
     color: #ffff;
     font-size: 40px;
     font-family: sans-serif;
     margin-left: 350px;
     margin-top: 250px;
    }
.trnsprntblue h2{
    position: relative;
    top: 4%;
    color: #ffff;
    font-size: 40px;
    font-family: sans-serif;
    margin-left: 350px;
    margin-top: 1px; 
}
.trnsprntblue p{
    position: relative;
    top: 3%;
    color:#ffff;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-left: 350px;
    margin-top: 5px;
}
 
.СФЕРЫРАБОТЫ {
    position: relative;
    background-color: #ffff;
    background-origin: border-box;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
}
 
.trnsprntblue2 img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 675px;
    height: 600px;
    width: 675px;
    margin-bottom: 0%;
    opacity: 0.1;
}

.trnsprntblue2 p{
   
    top: 15%;
    color: #00305b;
    font-size: 30px;
     font-family: sans-serif;
     margin-left: 350px;
     margin-top: 200px;
}
.firstlist{
    list-style-type: square;
    margin-left: 300px;
    margin-top: 11%;
}
.secondlist{
    list-style-type: square;
    margin-left: 100px;
    margin-top: 15%;
}
.СФЕРЫРАБОТЫ  li::before{
    content: " ";
    size: 20px;
    color: aqua;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.СФЕРЫРАБОТЫ  li{
  color: #00305b;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:large ;
}

.ОНАС{
    position: relative;
    background-origin: border-box;
    height: 600px;
    width: auto;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00305b;

}
.head{
    color: #ffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    position: absolute; 
    margin-top: 5%;
    margin-left: 45%;
}
.main{
    position: absolute;
    text-align: center;
    margin-top: 15%;
    color: #ffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.ПРДЮРИСТЫ{
    background-image: url(./assets/5bfb6f_bb013bf1966340ceb9a576d68aa42273.webp);
    height: 800px;
    position: relative;
    background-origin: border-box;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.ЮРИСТЫ{
position: relative;
background-color: rgb(219, 237, 247);
background-origin: border-box;
background-attachment: fixed;
background-position: bottom;
background-repeat: no-repeat;
background-size: cover;
height: 700px;
}

.up{
    margin-left: 400px;
    color: #012a4d;
    font-size: 30px;
    /* margin-top: 400px; */
    
}
.down{
margin-top: 200px;
margin-left: 350px;
}

 .firstlawyer{
    margin-left: 20px;
    color:#011b32 ;
    text-align: center;

} 
.secondlawyer{
    margin-left: 40px;
    color: #011b32;
    text-align: center;


}
.thirdlawyer{
    margin-left: 18px;
    color: #011b32;
    text-align: center;

} 

a{
    text-decoration: none;
    color: #011b32;

}

.КОНТАКТЫ{
    background-image: url(./assets/lastimg.webp);
    height: 600px;
}
.left{
    background-color: #00305b;
    height: 600px;
    width: 650px;
    margin-top: 0;
    opacity: 0.8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 .lefttext {
        position: relative;
        top: 21%;
        color: #ffff;
        font-size: 40px;
        font-family: sans-serif;
        margin-left: 350px;
        margin-right: 10px;
       /* margin-top: 250px;*/
 }
.right{
    background-color: #00305b;
    height: 600px;
    width: 870px;
    margin-top: 0;
    opacity: 0.6;
    
}
.righttext{
    position: absolute;
    top: 35%;
    margin-right: 50px;
    color: #ffff;
    font-family: sans-serif;
    font-size: 10px;
}
 .right p{
    position: absolute;
    top: 35%;
    margin-right: 50px;
    color: #f2f2f3;
    font-family: sans-serif;
    font-size: 10px;

} 
form{
    margin-top: 30%;
    margin-left: 7%;
}
input{
    width: 250px;

}
.смс{
   height: 110px; 
}
.наверх{
    background-color: #00305b;
    text-decoration: none;
    width: 100%;
    height: 60px;
    color: #ffff;
    text-align: center;
    display: block;

}
.наверх img{
    margin-top: 20px;

}

html, body{
    overflow:initial !important;
  }

 